@import '../../styles/Colors.scss';
$padding: 5px;
$sub-text-color: rgb(95, 95, 95);

.callsList{
    background-color: $background-accent;
    overflow: scroll;
    .callsListHeader{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        background-color: $background-accent;

        .callsListButton{
            color: black;
            border-left: 1px solid $accent-color;
            width: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }
        .callsListButton:hover{
            transition: 0.5s;
            background-color: $hover-color;
        }
        .callsListButton:active{
            transition: 0.5s;
            background-color: $background-accent
        }
    }
    .callListItem{
        display: flex;
        align-items: center;
        flex-direction: row;
        color: black;
        border-bottom: 1px solid $accent-color;
        .profilePic{
            display: flex;
            align-items: center;
            justify-content: center;
            width: min-content;
            padding: $padding;
            img{
                width: 50px;
            }
        }
        .callListItemNumberArea{
            flex-grow: 2;
            text-align: start;
            padding: $padding;

            .number{
                padding: 1%;
            }
            .status{
                padding: 1%;
                color: $sub-text-color;
            }
        }
        .time{
            color: $sub-text-color;
            padding: $padding;
        }
    }
    .callListItem:hover{
        transition: 0.5s;
        background-color: $hover-color;
    }
}