@import 'Colors.scss';


.App {
  text-align: center;
  .main{
    display: flex;
    flex-direction: row;
    width: 100%;
    .profileArea{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 90vh;
      border-left: 1px solid lightblue;
      margin: 25px;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c8ceda;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
